/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos da página */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #502f2f;
}

/* Estilos do cabeçalho */
header {
  background-color: #3a1f1f;
  padding: 20px 0;
  transition: 0.3s;
  display: flex; /* Alterado para display flex */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

header:hover {
  transform: scale(1.02);
}

nav {
  max-width: 1000px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #c4c4c4;
}

/* Estilos do título da página */
h1 {
  text-align: center;
  font-size: 35px;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

figure {
  display: flex;
  flex-direction:column-reverse;
  align-items: center; /* Centraliza os itens verticalmente */
  margin: 10px;
  transition: 0.3s;
}

figure:hover {
  transform: scale(1.05);
}

img {
  width: 250px;
  height: 220px;
  border: 2px solid #000000;
  border-radius: 5%;
}

figcaption {
  margin-top: 10px; /* Ajustado para o espaçamento entre a imagem e a legenda */
  text-align: center; /* Centraliza a legenda */
  font-size: 22px;
}

/* Estilos do nome dos produtos */
p {
  text-align: center;
  margin-top: 10px; /* Ajuste a margem para o espaçamento entre a imagem e o nome */
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }
}
